/* =============== ------ =============== */
/* =============== MASTER =============== */
/* =============== ------ =============== */

body{
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color */
    font-family: Arial, sans-serif;
}

h1{
    margin-top: 10px;
}

button{
    background-color: #2c73df;
    border-radius: 12px;
}

button:hover{
    background-color: #1a1a1a;
}

/* NAVIGATION */
.line {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.topnav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    z-index: 100000;
}

.hidden {
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.slide-in {
    transform: translateX(0);
}

.topnav #Links {
    display: block;
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.topnav .burger button {
    border: none;
    background-color: transparent;
    padding: 14px 16px;
    font-size: 17px;
    display: block;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.burger .topicon:hover .line {
    background-color: #1a1a1a;
}

.topnav .title {
    display: block;
    margin-left: -20%;
}

#masterTitle {
    position: relative;
    width: 100%;
    margin-left: 0;
    top: 5px;
}

/* =============== ------ =============== */
/* =============== INDEX ================ */
/* =============== ------ =============== */


    /**/
/*Navigation*/
    /**/

/* Search */
.topnav .search {
    justify-content: center;
    text-align: center;
    margin-left: -22%;
}

.topnav input[type=text] {
    color: #121212;
    background-color: #ffffff;
    padding: 15px;
    margin-top: 10px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* Cart */
.topnav .cart button {
    margin-top: 10%;
    margin-right: 40px;
    text-align: center;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    display: inline-block;
}

.hidden-reverse {
    transform: translateX(50%);
    transition: transform 0.5s ease;
}

.slide-in-reverse {
    transform: translateX(-60%);
}

.topnav #cartItems {
    margin-top: 10px;
    height: 100%;
    max-height: 100vh;
    width: 300px;
    position: fixed;
    background-color: rgba(30, 30, 30, 0.95);
    overflow-y: auto;
}

.topnav #cartItems h3 {
    text-align: center;
    font-size: 36px;
    margin: 5px 0 12px 5px;
}

.topnav #cartItems h4 {
    font-size: 20px;
    color: white;
    margin: 0 0 0 5px;
}

.topnav #cartItems h5 {
    font-size: 16px;
    color: #F1F1F1;
    margin: 0 0 2px 5px;
}

.topnav #cartItems #removebutton {
    background-color: red;
    margin: 0 0 20px 30%;
    padding: 2px 20px;
}

.topnav #cartItems #checkoutbutton {
    position: relative;
    left: 30%;
    bottom: 10%;
    margin-bottom: 50%;
}

.counter {
    margin-left: 5px;
}



    /**/
/* CARDS */
    /**/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
    margin: 5% 2% -3% 20%;
}

.container .card .icon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.container .card .slide {
    width: 266.666667px;
    height: 400px;
    transition: 0.5s;
}

.container .card .slide.slide1 {
    margin-left: -265px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.7s;
    transform: translateX(100px);
}

.container .card:hover .slide.slide1 {
    transform: translateX(-15%);
}

.container .card .slide.slide2 {
    background-color: #3c3c3c;
    margin-top: -400px;
    margin-left: 134px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.8s;
    transform: translateX(-165px);
    box-shadow: 0 20px 40px rgba(59, 59, 59, 0.4);
}

.container .card:hover .slide.slide2 {
    transform: translateY(0);
}

.container .card:active .slide.slide2 {
    transform: scale(1);
}

.container .card .slide.slide1::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 30px;
    bottom: 50%;
    left: 150%;
    transform: translateX(-50%);
    background: #ad0909;
    z-index: 1;
}

.container .card .arrow {
    position: absolute;
    left: 142%;
    top: 30.5%;
    z-index: 10;
    font-size: 36px;
    display: inline-block;
    padding: 3px;
}

/* BLURB */
.container .card .slide.slide2 .content p {
    margin: -10px -15px 20px 0;
    padding: 0;
    font-size: 12px;
    color: #ffffff;
}

/* TITLE */
.container .card .slide.slide2 .content h2 {
    margin: 0px -15px 60% -15px;
    padding: 0;
    font-size: 36px;
    text-align: center;
    justify-content: flex-start;
    color: #ffffff;
}

/* AUTHOR */
.container .card .slide.slide2 .content h4 {
    margin: -60% 0 20% 0;
    padding: 0;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}

.container .card .slide.slide2 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .card .slide.slide2 .content button {
    text-align: center;
    color: #ffffff;
    border: none;
    padding: 15px 32px;
    font-size: 16px;
}











/* =============== ------ =============== */
/* =============== PAY ================== */
/* =============== ------ =============== */
#topnavPay {
    justify-content: flex-start;
}

#cartContainer {
    position: fixed;
    top: 50%;
    left: 30%;
    width: 500px;
    transform: translate(-50%, -50%);
    height: fit-content;
    background: #4e4c4c;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
        0px 105px 63px rgba(0, 0, 0, 0.05),
        0px 47px 47px rgba(0, 0, 0, 0.09),
        0px 12px 26px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    min-width: 220px;
    max-width: 500px;
}

#cartContainer h1 {
    margin-left: 5%;
}

.Item {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
}

.ItemText div {
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 5%;
}

.modal {
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: fit-content;
    background: #4e4c4c;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
        0px 105px 63px rgba(0, 0, 0, 0.05),
        0px 47px 47px rgba(0, 0, 0, 0.09),
        0px 12px 26px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    min-width: 220px;
    max-width: 525px;
}

.modal h1 {
    text-align: center;
}

#payment-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.input-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-label {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

.input-field {
    width: auto;
    height: 40px;
    padding-left: 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid transparent;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input-field:focus {
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px #242424;
    background-color: transparent;
}

#card-number-input {
    width: 70%;
}

.cardImage {
    position: fixed;
    right: 10%;
    top: 23.5%;
}

#pay-button {
    height: 55px;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    box-shadow: 0 0 0 0 #FFFFFF, 0 0 0 0 #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}




/* =============== ------ =============== */
/* =============== SUCCESS ================ */
/* =============== ------ =============== */
.thankYou {
    position: fixed;
    width: 100%;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

#cartContainerSuccess {
    position: fixed;
    top: 50%;
    left: 70%;
    width: 500px;
    transform: translate(-50%, -50%);
    height: fit-content;
    background: #4e4c4c;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
        0px 105px 63px rgba(0, 0, 0, 0.05),
        0px 47px 47px rgba(0, 0, 0, 0.09),
        0px 12px 26px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    min-width: 220px;
    max-width: 500px;
}

#cartContainerSuccess h1 {
    margin-left: 5%;
}









/*                  ==============                   */
/*                  Responsiveness                   */
/*                  ==============                   */

@media (min-width: 1000px) and (max-width: 1300px) {
    /* ===== ------ ===== */
    /* ===== PAY ====== */
    /* ===== ------ ===== */
    .modal {
        position: absolute;
        top: 50%;
        width: 90%;
        left: 75%;
    }

    #cartContainer {
        position: absolute;
        width: 90%;
        left: 24%;
        top: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 2px;
    }
/*These two changes prevent both the modal and cart container from overlapping each other*/

}






@media (max-width: 1000px) {
    /* ===== ------ ===== */
    /* ===== PAY ======== */
    /* ===== ------ ===== */
   
    #cartContainer {
        top: 70px;
        position: relative;
        width: 100%;
        left: 50%;
        right: 0;
        transform: translate(-50%, 0%);
        max-width: 100%;
        padding-bottom: 2%;
    }

    #cartContainer h1 {
        padding-top: 2%;
    }

    .modal {
        position: relative;
        top: 350px;
        bottom: 0;
        width: 100%;
        left: 50%;
        max-width: 100%;
    }

    /*Places the cartContainer underneath the modal as opposed to side by side*/


    /* ===== ------ ===== */
    /* ===== SUCCESS ==== */
    /* ===== ------ ===== */

    #cartContainerSuccess {
        position: relative;
        width: 100%;
        left: 50%;
        top: 465px;
        padding-top: 5px;
        padding-bottom: 5px;
        transform: translate(-50%, -50%);
    }
    /*Brings container to middle of screen instead of to the side*/

    .thankYou {
        position: relative;
        width: 100%;
        top: 160px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(78, 76, 76, 0.9);
        color: #ffffff;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .thankYou h1 {
        margin: 0;
        font-size: 36px;
    }

    .thankYou p {
        margin: 5px 0;
        font-size: 18px;
    }
    /*Places the thank you message in the top middle of the screen*/
}





@media only screen and (max-width: 620px) {
    /* ===== ------ ===== */
    /* ===== MASTER ===== */
    /* ===== ------ ===== */

    #masterTitle {
        display: inline;
        position: relative;
        width: 100%;
        margin-left: 2%;
        top: 5px;
    }
    /*Move 'Bookshop' Title just to the right of the burger icon*/

    /* ===== ------ ===== */
    /* ===== INDEX ====== */
    /* ===== ------ ===== */
    
           /**/
        /* Navigation */
                 /**/
    .topnav #cartItems {
        width: 350px;
    }

    .topnav #cartItems h3 {
        font-size: 24px;
        margin: 0 15% 0 0;
    }

    .topnav #cartItems h4 {
        font-size: 18px;
        margin: 5px 0 0px 5px;
    }

    .topnav #cartItems h5 {
        max-width: 200px;
        font-size: 14px;
        margin: 0 0 2px 5px;
        text-wrap: wrap;
    }

    .topnav #cartItems #removebutton {
        position: fixed;
        margin: -40px 0 0 50%;
        padding: 2px 20px;
    }

    .topnav #cartItems #checkoutbutton {
        left: 25%;
    }

    /*Make text smaller for smaller screens*/

           /**/
        /* Search */
             /**/
    .topnav .search {
        justify-content: center;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        transform: scale(0.9);
    }

    .topnav .burger button {
        border: none;
        background-color: transparent;
        padding: 14px 16px;
        font-size: 17px;
        display: block;
        margin-right: -20px;
    }

            /**/
        /*  Cart */
            /**/
    .topnav .cart button {
        margin-top: 12.5%;
        margin-right: 40px;
        text-align: center;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        display: inline-block;
    }

    /*Make search bar and cart button smaller*/

            /**/
        /*  Cards */
             /**/
    .container .card .slide.slide1 {
        margin-top: 8%;
    }
    /*More space for each card*/

    .card {
        margin-left: 27.5%;
        transform: scale(0.7);
    }
    /*Make each card smaller*/

    .container .card .slide.slide2 {
        transform: translateX(0);
    }

    .container .card .slide.slide1 {
        transition: 0.7s;
        transform: translateX(0);
    }

    .topnav .title {
        display: none;
    }
    /*Remove title from navigation bar as theres not a lot of space*/

    .container .card:hover .slide.slide2 {
        transform: scale(2);
        margin-left: -24.5%;
    }
    /*When the user interacts with the card, it'll increase in size so that its more readable - accessibility*/

    .container .card:hover .slide.slide1 {
        transform: translateX(-120%);
    }

    .container .card .slide.slide2 .content button {
        transition: 0.8s;
        transform: scale(0);
    }

    .container .card:hover .slide.slide2 .content button {
        transform: scale(1);
    }
    /*Only show add to cart button when card is focused on to prevent accidental presses*/


}











@media (min-width: 620px) and (max-width: 1463px) {
    /* ===== ------ ===== */
    /* ===== INDEX ====== */
    /* ===== ------ ===== */

            /**/
        /*  Cards */
             /**/   
    .container .card .slide.slide1 {
        margin-top: 15%;
    }

    .card {
        margin-left: 10%;
    }
    /*Adjust card position for slighter bigger (than phone) screens*/

    .topnav .title {
        margin-left: 1%;
    }

    .topnav .search {
        margin-left: 0;
    }
    /*Adjust navigation bar*/

    .container .card:hover .slide.slide2 {
        transform: scale(1.35);
    }
    /*Scale does not need to be as big as <620px since there is no card downscale*/
}









@media (max-width: 550px) {
    /* ===== ------ ===== */
    /* ===== PAY ====== */
    /* ===== ------ ===== */

            /**/
        /*  MasterCard */
                  /**/  
    .cardImage {
        position: fixed;
        right: 5%;
        top: 28%;
    }
    /*Move MasterCard image so that it falls next to the input*/ 
}



@media (max-width: 400px) {
    /* ===== ------ ===== */
    /* ===== INDEX ====== */
    /* ===== ------ ===== */

            /**/
        /*  Navigation */
                  /**/  
    .slide-in-reverse {
        transform: translateX(-50%);
    }

    .topnav #cartItems {
        width: 250px;
        right:auto;
    }
    /*Reduce cart width*/

    .topnav #cartItems #removebutton {
        margin: -40px 0 0 40%;
    }
    /*Bring remove button closer to items*/
    

    .topnav #cartItems #checkoutbutton {
        left: 20%;
    }
    /*Center align button*/
}